.Post {
  margin: 0 auto;
  padding: 5px 15px;
  width: 95%;
  /* height: fit-content; */
  border: 1px solid rgb(36, 36, 36);
  border-radius: 1em;
  color: #eaeaea;
  background-color: rgb(32, 32, 32);
  box-shadow: 3px 3px 5px rgb(27, 27, 27);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.postBody {
  width: 100%;
  text-align: center;
}

.postHeader {
  margin: 0 auto;
  margin-left: 40%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title {
  margin: 0;
  text-align: center;
}

/*.author {
  margin: 0;
  color: #ddd;
}*/

.postContent {
  margin: 10px 0;
}

.postFooter {
  width: 100%;
  text-align: left;
}

.icons {
  padding: 5px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons svg:hover {
  cursor: pointer;
}

.upvote,
.downvote {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.upvoteCount,
.downvoteCount {
  margin: 0;
}
