.WordSearch {
  width: 100%;
  margin-left: 600px;
  min-height: 90%;
  margin-bottom: 0px;
  background-color: white;
  margin-top: 10px;
  margin-right: 60px;
  padding: 10px 10px;
}
.comp {
  min-height:1000px;
  width:auto;
  box-sizing: border-box;
  display: flex;
  justify-content:space-between;
}
