.Posts {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(41, 41, 41);
}

.container {
  flex-grow: 1;
  display: flex;
}

.posts {
  margin: 0 8px 0 0;
  padding: 10px;
  width: 70%;
  height: 87vh;
  overflow-y: auto;
}

.noPostIndicator {
  color: #eee;
  font-size: 2em;
}

.searchArea {
  position: fixed;
  top: 88%;
  margin: 0 auto;
  padding: 15px 10px;
  width: 95%;
  border-top: 1px solid rgb(56, 56, 56);
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
}

.input {
  margin: 0 10px;
  padding: 10px 15px;
  flex-grow: 1;
  text-align: left;
  background-color: rgb(161, 153, 30);
  color: rgb(3, 3, 3);
  border-radius: 1em;
  border: none;
  box-sizing: border-box;
}

.input::placeholder {
  color: rgb(3, 3, 3);
  opacity: 0.85;
}

.input:focus {
  outline: none;
  border: 1px solid rgb(14, 14, 14);
  box-shadow: 5px 5px 10px rgb(35, 35, 35);
}

.searchArea svg {
  cursor: pointer;
  fill: rgb(202, 190, 21);
}

.makePost {
  padding: 10px 25px;
  color: #ddd;
  border-left: 1px solid rgb(56, 56, 56);
}

.makePost div {
  margin: 20px 0;
}

.makePost label {
  margin-bottom: 4px;
  display: block;
  text-align: left;
}

.makePost input,
.makePost textarea {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #ccc;
}

.makePost input:focus,
.makePost textarea:focus {
  outline: none;
  box-shadow: 5px 5px 10px rgb(35, 35, 35);
}

.makePost input {
  padding: 15px 10px;
}

.makePost textarea {
  padding: 10px;
  height: 250px;
  resize: none;
}

.makePost button {
  margin-top: 10px;
  padding: 8px 35px;
  border-radius: 1em;
  border: none;
  background-color: aquamarine;
  letter-spacing: 1px;
}

.makePost button:hover {
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgb(35, 35, 35);
}

.makePost button:active {
  transform: scale(1.05);
  font-weight: bold;
}
